<?xml version="1.0" encoding="utf-8"?>
<cfg_info>
    <ble_dev_list>
	<dev>
	    <addr>27:A5:D2:1E:67:DD</addr>
	    <srv_uuid>6e400001-b5a3-f393-e0a9-e50e24dcca9e</srv_uuid>
	    <rx_char>6e400003-b5a3-f393-e0a9-e50e24dcca9e</rx_char>
	    <tx_char>6e400002-b5a3-f393-e0a9-e50e24dcca9e</tx_char>
	    <lambda_list>354,376,405,450,505,560,600,645,680,705,800,850,910,930,970,1000,1050,1070,1200</lambda_list>
	</dev>
	<dev>
	    <addr>1E:A2:CA:1E:67:DD</addr>
	    <srv_uuid>0000fff0-0000-1000-8000-00805f9b34fb</srv_uuid>
	    <rx_char>0000fff1-0000-1000-8000-00805f9b34fb</rx_char>
	    <tx_char>0000fff2-0000-1000-8000-00805f9b34fb</tx_char>
	    <lambda_list>560,600,645</lambda_list>
	</dev>
    </ble_dev_list>

    <db_info>
	<srvr_addr>li371359001.vicp.net</srvr_addr>
	<srvr_port>3306</srvr_port>
	<dbms_name>MySQL</dbms_name>
	<dbms_ver>5.7.26</dbms_ver>
	<db_name>detector</db_name>
	<login_id>admin</login_id>
	<login_pwd>admin123</login_pwd>
    </db_info>

    <oth_settings>
	<!-- 1: yes, 0: no -->
	<use_remote_db>1</use_remote_db>
    </oth_settings>
</cfg_info>
